@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap');
//font-family: 'Noto Sans KR', sans-serif;
//#005FAC;
//#F6F8FA;

.gallery{
    width: 100%;
    .sub_visual{
        background: url(../img/bg-sub-visual.gif)no-repeat center/cover;
    }
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%,-50%);
    transition: 1s;
    opacity: 0;

    &.on {
        opacity: 1;
    }
}

.content {
    width: 100%;
    padding: 100px 0px 150px;
    box-sizing: border-box;
    .inner {
        width:  1180px;
        margin: 0px auto;
        position: relative;

        >h1 {
            font: bold 50px/1 "arial";
            color: #333;
            margin-bottom: 50px;
            cursor: pointer;
        }

        #search {
            width: 100%;
            margin-bottom: 50px;
            input[type=text]{
                width: 90%; padding: 15px 10px;
                box-sizing: border-box;
                border: 1px solid #CDD6E1;
                background: #F6F8FA;
                
            }
            button{
                width: 9%; padding: 15px 10px; 
                box-sizing: border-box;
                border: 1px solid #CDD6E1;
                background: #F6F8FA;
                transition: 0.5s;

                &:hover{
                    background: #282b3a;
                    color: #fff;
                }
            }

        }
        #gallery {
            opacity: 0;
            position: relative;
            transform: translateY(100px);
            transition: 1s;
    
            &.on {
                opacity: 1;
                transform: translateY(0px);
            }
    
    
            ul {
                width: 100%;
                position: relative;
    
                &::after {
                    content: "";
                    display: block;
                    clear: both;
                }
    
                li {
                    float: left;
                    padding: 20px;
                    height: 500px;
                    box-sizing: border-box;   
                    width: 33.333%;   
                    
                    &.item-sizer {
                        width: 33.333%;
                        opacity:0;
                    }
                    .inner {
                        width: 100%;
                        height: 100%;
                        background: #fff;
                        position: relative;
                        overflow: hidden;         
                        border: 1px solid #CDD6E1;  
                        .img_gallery{
                                width: 100%;
                                height: 100%;
                                &::after{
                                    display: block; clear: both; content: "";
                                }
                                &:hover{
                                    >a {opacity:0.6;}
                                    p {top: 20px; opacity:1;}
                                }
                                >a{
                                    display: block;
                                    width: 100%;
                                    height: 60%;
                                    position: absolute;
                                    top: 0px;
                                    left: 0px;
                                    opacity: 1;
                                    transition: 0.5s;
                                    >img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                    >p{
                                        position: absolute;
                                        top: -120px;
                                        opacity: 0;
                                        left: 20px;
                                        font: bold 14px/1 "arial";
                                        color: #005FAC;
                                        transition: 0.5s;
                                    }
                                }
                        }
                        .text_gallery{
                            width: 100%; height: 40%;
                            position: absolute;
                            padding: 20px; box-sizing: border-box;
                            left: 0; bottom: 0;
                            background: #F6F8FA;
                            h3{
                                font:bold 16px/1 'Noto Sans KR';
                                color: #222;
                                margin-bottom: 15px;
                            }
                            p{
                                font:bold 12px/1.6 'arial';
                                color: #888;
                            }
                            .profile {
                                cursor: pointer;
                                position: absolute;
                                bottom: 20px; left: 20px;  
                                img {
                                    width: 30px; height: 30px;
                                    border-radius: 50%;
                                }
                                span {
                                    display:inline-block;
                                    vertical-align: text-top;
                                    margin-left: 5px;
                                    font: 12px/1 "arial";
                                    color: #888;
                                }
                                &::before{
                                    content: "";
                                    display: block;
                                    width: 40px;
                                    height: 2px;
                                    position: absolute;
                                    left: 33px;
                                    bottom: 3px;
                                    background: #CDD6E1;
                                    transition: 0.5s;
                                }
                                &:hover::before{
                                    width: 97px;
                                }
                            }
                        }
                    }
                }
            }
        }
        #sns_gallery{
            width: 100%;
            padding: 100px 20px 50px 20px; box-sizing: border-box;
            h2{
                text-align: center;
                margin-bottom: 50px;
                font:30px/1 'Noto Sans KR'; color: #333;
            }
            >ul{
                width: 100%;
                &::after{
                    clear: both; content: ""; display: block;
                }
                >li{
                    float: left;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    padding: 50px; box-sizing: border-box;
                    width: 560px;
                    height: 200px;
                    border: 1px solid #CDD6E1;
                    background: #F6F8FA;;
                    &:nth-of-type(even){
                        margin-right: 0;
                    }
                }
            }
        }   
        #txtinfo{
            width: 100%;
            padding:50px 200px; box-sizing: border-box;
            h2{
                font:24px/1 'Noto Sans KR'; color: #333;
                margin-bottom: 60px;
            }
            h3{
                font:18px/1.6 'arial'; color: #222;
                margin-bottom: 30px;
            }
            p{
                font:14px/2 'Noto Sans KR'; color: #888;
                margin-bottom: 50px;
            }
            a{
                display: block;
                width: 100%; height: 50px;
                text-align: center;
                font:18px/50px 'arial'; color: #333;
                border: 1px solid #CDD6E1;
                background: #F6F8FA;
                margin-bottom: 30px;
                position: relative;
                transition: 0.5s;

                &:hover{
                    background: #282b3a;
                    color: #fff;
                    .fa-plus{
                        color: #fff;
                    }
                }
                .fa-plus{
                    position: absolute; left: 10px;top: 50%;
                    transform: translateY(-50%);
                    color: #666;
                }
            }
        }     
    }
}


@media screen and (max-width: 1179px){
    .content {
        .inner {
            width:  100%;        
            #search {
                padding: 0 50px;
                input[type=text]{
                    width: 70%; padding: 15px 10px;                    
                }
                button{
                    width: 28%; padding: 15px 10px; 
                }    
            }
            #gallery {                
                ul {     
                    li {
                        width: 100%;                           
                        &.item-sizer {
                            width: 100%;
                        }
                    }
                }
            }
            #sns_gallery{
                width: 100%;
                padding: 100px 20px 50px 20px; box-sizing: border-box;
                h2{
                    font:20px/1 'Noto Sans KR'; color: #333;
                }
                >ul{
                    width: 100%;
                    >li{
                        width: 100%;
                    }
                }
            }   
            #txtinfo{
                padding:50px 20px; box-sizing: border-box;
                h2{
                    font:20px/1 'Noto Sans KR'; color: #333;
                    margin-bottom: 60px;
                }
                h3{
                    font:18px/1.6 'arial'; color: #222;
                    margin-bottom: 30px;
                }
                p{
                    font:12px/2 'Noto Sans KR'; color: #888;
                    margin-bottom: 50px;
                }
                a{
                    font:14px/50px 'arial'; color: #333;    
                }
            }     
        }
    }
}


@media screen and (max-width: 539px){
    .content {
        padding: 100px 0px 50px;
        .inner {
            #search {
                margin-bottom: 25px;
                padding: 0 10px; 
            }
            #sns_gallery{
                width: 100%;
                padding: 100px 20px 50px 20px; box-sizing: border-box;
                h2{
                    font:18px/1 'Noto Sans KR'; color: #333;
                }
                >ul{
                    width: 100%;
                    >li{
                        width: 100%;
                    }
                }
            }   
            #txtinfo{
                padding:50px 20px; box-sizing: border-box;
                h2{
                    font:18px/1 'Noto Sans KR'; color: #333;
                    margin-bottom: 60px;
                }
                h3{
                    font:16px/1.6 'arial'; color: #222;
                    margin-bottom: 30px;
                }
                p{
                    font:12px/2 'Noto Sans KR'; color: #888;
                    margin-bottom: 50px;
                }
                a{
                    font:12px/50px 'arial'; color: #333;    
                }
            }     
        }
    }
}