@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap');
//font-family: 'Noto Sans KR', sans-serif;


.location{
    width: 100%;
    .sub_visual{
        background: url(../img/location_bg.jpg)no-repeat center/cover;
    }
}


#company{
    width: 100%;
    padding: 100px 0; box-sizing: border-box;
    
    .inner{
        width: 1180px;
        margin: 0 auto;
        text-align: center;

        h3{
            font:16px/1 'arial'; color: #005FAC;
            margin-bottom: 10px;
        }
        h2{
            font:bold 24px/1 'Noto Sans KR'; color: #444;
            margin-bottom: 50px;
        }
        .company_list{
            width: 100%;

            >li{
                >span{
                    display: block;
                    margin: 0 auto;
                    width: 100px; height: 100px;
                    border-radius: 50%;
                    line-height: 100px;
                    background:#F6F8FA;
                    border: 1px solid #CDD6E1;
                    font:18px/100px 'Noto Sans KR';
                    color: #005FAC;
                }
                >ul{
                    margin-top: 100px;
                    &::after{
                        clear: both; display: block; content: "";
                    }
                    >li{
                        float: left;
                        width: 33.333%;
                        &:nth-of-type(2) .cmy_pic::after{
                            display: block;
                            content: "";
                            width: 2px;
                            height: 71px;
                            background: #CDD6E1;
                            position: absolute;
                            top: -119%;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                        &:nth-of-type(1) .cmy_pic::before{
                            display: block;
                            content: "";
                            width: 786px;
                            height: 2px;
                            background: #CDD6E1;
                            position: absolute;
                            top: -34%;
                            left: 50%;
                        }

                        >div{
                            width: 150px; height: 80px;
                            margin: 0 auto;
                            background:#F6F8FA;
                            border: 1px solid #CDD6E1;
                            font:16px/100px 'Noto Sans KR';
                            color: #005FAC;
                            line-height: 90px;
                            position: relative;

                            &::before{
                                display: block;
                                content: "";
                                width: 2px;
                                height: 51px;
                                position: absolute;
                                bottom: -66%;
                                left: 50%;
                                transform: translateX(-50%);
                                background: #CDD6E1;
                            }

                            .cmy_pic{
                                position: absolute;
                                width: 60px; height: 60px;
                                top: 0%; left: 50%;
                                transform: translate(-50%, -50%);
                                background: #005FAC;
                                border-radius: 50%;

                                &::after{
                                    display: block;
                                    content: "";
                                    width: 2px; height: 20px;
                                    background: #CDD6E1;
                                    position: absolute; top: -25%; left: 50%;
                                    transform: translate(-50%, -25%);
                                }

                                .fa-prescription-bottle,
                                .fa-briefcase,
                                .fa-file-alt{
                                    color: #fff;
                                    position: absolute;
                                    top: 50%; left: 50%;
                                    transform: translate(-50%, -50%);
                                    font-size: 30px;
                                }
                            }
                        }

                        >ul{
                            margin-top: 80px;
                            width: 100%;
                            &::after{
                                clear: both; content: ""; display: block;
                            }
                            
                            >li{
                                position: relative;
                                float: left;
                                width: 49.999%;
                                &::after{
                                    display: block;
                                    content: "";
                                    width: 2px; height: 31px;
                                    background: #CDD6E1;
                                    position: absolute; top: -25%; left: 50%;
                                    transform: translateX(-50%);
                                }
                                &:nth-of-type(1)::before{
                                    display: block;
                                    content: "";
                                    height: 2px;
                                    width: 196px;
                                    background: #CDD6E1;
                                    position: absolute; top: -25%; left: 50%;
                                }

                                span{
                                    display: block;
                                    width: 90%; height: 40px;
                                    line-height: 30px;
                                    margin: 0 auto;
                                    background:#F6F8FA;
                                    border: 1px solid #CDD6E1;
                                    font:14px/40px 'Noto Sans KR';
                                    color: #005FAC;

                                    &:nth-of-type(1){
                                        background: #282b3a;
                                        font:16px/40px 'Noto Sans KR';
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



#location{
    width: 100%;
    padding: 50px 0 100px 0; box-sizing: border-box;
    .inner{
        width: 1180px;
        margin: 0 auto;
        .map{
            width: 100%;
            text-align: center;
            &::after{content: ""; display: block; clear: both;}
            h3{
                font:16px/1 'arial'; color: #005FAC;
                margin-bottom: 10px;
            }
            h2{
                font:bold 24px/1 'Noto Sans KR'; color: #444;
                margin-bottom: 50px;
            }
            #map{
                width:100%;
                height:400px;
                margin-top: 50px; 
                background:#000; 
            }
            .traffic{
                float:left; margin-bottom: 20px;
            
                li{
                    float:left; margin-right:10px; 
            
                    a{
                        display:block; width:200px; height:40px; 
                        background: #F6F8FA; 
                        font:bold 12px/40px 'Noto Sans KR'; color:#333; 
                        text-align:center; 
                        transition: 0.5s;
                        &:hover{
                            background: rgba(40, 43, 58,0.7);
                            color: #fff;
                        }
                    }
            
                    &.on{
                        a{
                            background:#282b3a;
                            color:#fff;             
                        }
                    }
                }
            }
            .branch {
                float:right; margin-bottom:20px; 
                li{
                    float:left; margin-right:10px; 
                    a{
                        display:block; width:150px; height:40px; 
                        background:#F6F8FA;
                        font:bold 12px/40px 'Noto Sans KR'; color:#333; 
                        text-align:center; 
                        transition: 0.5s;
                        &:hover{
                            background: rgba(40, 43, 58,0.7);
                            color: #fff;
                            
                        }
                    }
                }
            }
        }
        .transportation{
            width: 100%;
            text-align: center;
            padding: 50px 0; box-sizing: border-box;
            h3{
                font:16px/1 'arial'; color: #005FAC;
                margin-bottom: 10px;
            }
            h2{
                font:bold 24px/1 'Noto Sans KR'; color: #444;
                margin-bottom: 30px;
            }
            .bus{
                text-align-last: center;
                margin-bottom: 50px;
                p{
                    img{
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                    margin-bottom: 20px;
                    text-align-last: left;
                    font:bold 20px/1 'arial'; color: #333;
                }
                ul{
                    width: 100%;
                    border-top: 1px solid #CDD6E1;
                    border-bottom: 1px solid #CDD6E1;
                    &::after{content: ""; clear: both; display: block;}
                    li{
                        float: left;
                        padding: 25px;
                        font: 16px/1 'arial'; color: #333;
                        &:nth-of-type(1){
                            width: 30%;
                            background:#F6F8FA;
                            border-right: 1px solid #CDD6E1;
                        }
                        &:nth-of-type(2){
                            width: 70%;
                            text-align-last: left;
                            color: #888;
                        }
                    }
                }
            }
            .subway{
                text-align-last: center;
                p{
                    img{
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                    margin-bottom: 20px;
                    text-align-last: left;
                    font:bold 20px/1 'arial'; color: #333;
                }
                ul{
                    width: 100%;
                    border-top: 1px solid #CDD6E1;
                    border-bottom: 1px solid #CDD6E1;
                    &::after{content: ""; clear: both; display: block;}
                    li{
                        float: left;
                        padding: 25px;
                        font: 16px/1 'arial'; color: #333;
                        &:nth-of-type(1){
                            width: 30%;
                            background:#F6F8FA;
                            border-right: 1px solid #CDD6E1;
                            
                        }
                        &:nth-of-type(2){
                            width: 70%;
                            text-align-last: left;
                            color: #888;
                        }
                    }
                }
            }
        }
        .parking{
            width: 100%;
            text-align: center;
            padding: 50px 0; box-sizing: border-box;
            h3{
                font:16px/1 'arial'; color: #005FAC;
                margin-bottom: 10px;
            }
            h2{
                font:bold 24px/1 'Noto Sans KR'; color: #444;
                margin-bottom: 50px;
            }
            table{
                width: 100%;
                text-align: center;
                caption{
                    position: absolute; top: -9999px; left: 0; opacity: 0;
                }
                thead{
                    width: 100%;
                    tr{
                        border-top: 1px solid #005FAC;
                        border-bottom: 1px solid #CDD6E1;
                        font:bold 16px/1 'arial'; color: #333;
                        th{
                            width: calc(100% / 4);
                            padding: 25px 0; box-sizing: border-box;
                        }
                    }
                }
                tbody{
                    width: 100%;
                    tr{
                        width: 100%;
                        border-bottom: 1px solid #CDD6E1;
                        background: #F6F8FA;
                        font:14px/1 'arial'; color: #888;
                        td{
                            width: calc(100% / 4);
                            padding: 25px 0; box-sizing: border-box;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1179px){
    #company{
        width: 100%;
        padding: 100px 0; box-sizing: border-box;
        
        .inner{
            width: 100%;
            margin: 0 auto;
            text-align: center;
    
            h3{
                font:16px/1 'arial'; color: #005FAC;
                margin-bottom: 10px;
            }
            h2{
                font:bold 24px/1 'Noto Sans KR'; color: #444;
                margin-bottom: 50px;
            }
            .company_list{
                width: 100%;
    
                >li{
                    >span{
                        display: block;
                        margin: 0 auto;
                        width: 100px; height: 100px;
                        border-radius: 50%;
                        line-height: 100px;
                        background:#F6F8FA;
                        border: 1px solid #CDD6E1;
                        font:18px/100px 'Noto Sans KR';
                        color: #005FAC;
                    }
                    >ul{
                        margin-top: 100px;
                        &::after{
                            clear: both; display: block; content: "";
                        }
                        >li{
                            float: left;
                            width: 33.333%;
                            &:nth-of-type(2) .cmy_pic::after{
                                display: block;
                                content: "";
                                width: 2px;
                                height: 71px;
                                background: #CDD6E1;
                                position: absolute;
                                top: -119%;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                            &:nth-of-type(1) .cmy_pic::before{
                                display: block;
                                content: "";
                                width: 786px;
                                height: 2px;
                                background: #CDD6E1;
                                position: absolute;
                                top: -34%;
                                left: 50%;
                            }
    
                            >div{
                                width: 150px; height: 80px;
                                margin: 0 auto;
                                background:#F6F8FA;
                                border: 1px solid #CDD6E1;
                                font:16px/100px 'Noto Sans KR';
                                color: #005FAC;
                                line-height: 90px;
                                position: relative;
    
                                &::before{
                                    display: block;
                                    content: "";
                                    width: 2px;
                                    height: 51px;
                                    position: absolute;
                                    bottom: -66%;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    background: #CDD6E1;
                                }
    
                                .cmy_pic{
                                    position: absolute;
                                    width: 60px; height: 60px;
                                    top: 0%; left: 50%;
                                    transform: translate(-50%, -50%);
                                    background: #005FAC;
                                    border-radius: 50%;
    
                                    &::after{
                                        display: block;
                                        content: "";
                                        width: 2px; height: 20px;
                                        background: #CDD6E1;
                                        position: absolute; top: -25%; left: 50%;
                                        transform: translate(-50%, -25%);
                                    }
    
                                    .fa-prescription-bottle,
                                    .fa-briefcase,
                                    .fa-file-alt{
                                        color: #fff;
                                        position: absolute;
                                        top: 50%; left: 50%;
                                        transform: translate(-50%, -50%);
                                        font-size: 30px;
                                    }
                                }
                            }
    
                            >ul{
                                margin-top: 80px;
                                width: 100%;
                                &::after{
                                    clear: both; content: ""; display: block;
                                }
                                
                                >li{
                                    position: relative;
                                    float: left;
                                    width: 49.999%;
                                    &::after{
                                        display: block;
                                        content: "";
                                        width: 2px; height: 31px;
                                        background: #CDD6E1;
                                        position: absolute; top: -25%; left: 50%;
                                        transform: translateX(-50%);
                                    }
                                    &:nth-of-type(1)::before{
                                        display: block;
                                        content: "";
                                        height: 2px;
                                        width: 196px;
                                        background: #CDD6E1;
                                        position: absolute; top: -25%; left: 50%;
                                    }
    
                                    span{
                                        display: block;
                                        width: 90%; height: 40px;
                                        line-height: 30px;
                                        margin: 0 auto;
                                        background:#F6F8FA;
                                        border: 1px solid #CDD6E1;
                                        font:14px/40px 'Noto Sans KR';
                                        color: #005FAC;
    
                                        &:nth-of-type(1){
                                            background: #282b3a;
                                            font:16px/40px 'Noto Sans KR';
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #location{
        padding: 50px 20px;
        .inner{
            width: 100%;
            .map{
                h3{
                    font:14px/1 'arial'; color: #005FAC;
                }
                h2{
                    font:bold 22px/1 'Noto Sans KR'; color: #444;
                }
                #map{
                    width:100%;
                    height:400px;
                    margin-top: 10px; 
                    background:#000; 
                }
                .traffic{
                    float:none; margin-bottom: 20px;
                    display: inline-block;
                
                    li{
                        float:left; margin-right:10px; 
                
                        a{
                            display:block; width:200px; height:40px; 
                            font:bold 12px/40px 'Noto Sans KR'; color:#333; 
                        }                
                    }
                }
                .branch {
                    display: inline-block;
                    float:none; margin-bottom:20px; 
                    li{
                        float:left; margin-right:10px; 
                        a{
                            display:block; width:150px; height:40px; ;
                            font:bold 12px/40px 'Noto Sans KR'; color:#333; 
                        }
                    }
                }
            }
            .transportation{
                h3{
                    font:14px/1 'arial';
                }
                h2{
                    font:bold 22px/1 'Noto Sans KR';
                }
                .bus{
                    p{
                        font:bold 18px/1 'arial';
                    }
                    ul{
                        li{
                            font: 12px/1 'arial';
                            &:nth-of-type(1){
                                width: 30%;
                            }
                            &:nth-of-type(2){
                                width: 70%;
                            }
                        }
                    }
                }
                .subway{
                    p{
                        font:bold 18px/1 'arial';
                    }
                    ul{
                        li{
                            font: 12px/1 'arial';
                            &:nth-of-type(1){
                                width: 30%;                                
                            }
                            &:nth-of-type(2){
                                width: 70%;
                            }
                        }
                    }
                }
            }
            .parking{
                h3{
                    font:14px/1 'arial';
                }
                h2{
                    font:bold 22px/1 'Noto Sans KR';
                }
                table{
                    thead{
                        tr{
                            font:bold 14px/1 'arial'; color: #333;
                            th{
                                width: calc(100% / 4);
                            }
                        }
                    }
                    tbody{
                        tr{
                            font:12px/1 'arial'; color: #888;
                            td{
                                width: calc(100% / 4);
                                padding: 25px 0; box-sizing: border-box;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 539px){
    #company{
        width: 100%;
        padding: 100px 0; box-sizing: border-box;
        
        .inner{
            width: 100%;
            margin: 0 auto;
            text-align: center;
    
            h3{
                font:16px/1 'arial'; color: #005FAC;
                margin-bottom: 10px;
            }
            h2{
                font:bold 24px/1 'Noto Sans KR'; color: #444;
                margin-bottom: 50px;
            }
            .company_list{
                width: 100%;
    
                >li{
                    >span{
                    }
                    >ul{
                        margin-top: 100px;
                        >li{
                            float: left;
                            width: 100%;
                            margin-bottom: 80px;
                            &:nth-of-type(2) .cmy_pic::after{
                                display: none;
                            }
                            &:nth-of-type(1) .cmy_pic::before{
                                display: none;
                            }
    
                            >div{
                                &::before{
                                        display: block;
                                        content: "";
                                        width: 2px;
                                        height: 34px;
                                        position: absolute;
                                        bottom: -44%;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        background: #CDD6E1;
                                }
    
                                .cmy_pic{

    
                                    &::after{
                                        display: none;
                                    }
                                }
                            }
    
                            >ul{
                                margin-top: 50px;
                                width: 100%;
                                &::after{
                                    clear: both; content: ""; display: block;
                                }
                                
                                >li{
                                    position: relative;
                                    float: left;
                                    width: 49.999%;
                                    &::after{
                                        display: block;
                                        content: "";
                                        width: 2px;
                                        height: 18px;
                                        background: #CDD6E1;
                                        position: absolute;
                                        top: -14%;
                                        left: 50%;
                                        transform: translateX(-50%);
                                    }
                                    &:nth-of-type(1)::before{
                                            display: block;
                                            content: "";
                                            height: 2px;
                                            width: 164px;
                                            background: #CDD6E1;
                                            position: absolute;
                                            top: -14%;
                                            left: 50%;
                                    }
    
                                    span{
                                        display: block;
                                        width: 90%; height: 40px;
                                        line-height: 30px;
                                        margin: 0 auto;
                                        background:#F6F8FA;
                                        border: 1px solid #CDD6E1;
                                        font:14px/40px 'Noto Sans KR';
                                        color: #005FAC;
    
                                        &:nth-of-type(1){
                                            background: #282b3a;
                                            font:16px/40px 'Noto Sans KR';
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #location{
        .inner{
            .map{
                h3{
                    font:12px/1 'arial'; color: #cfb6a4;
                }
                h2{
                    font:bold 20px/1 'Noto Sans KR'; color: #444;
                }
                #map{
                    height:300px;
                }
                .traffic{
                    width: 100%;                
                    li{
                        width: 49%;
                        float:left; margin-right:2%;
                        &:last-of-type{margin-right: 0;} 
                
                        a{
                            width:100%; 
                        }                
                    }
                }
                .branch {
                    width: 100%; 
                    li{
                        width: 32%;
                        float:left; margin-right:2%;
                        &:last-of-type{margin-right: 0;} 
                        a{
                            display:block; width:100%; height:40px; ;
                            font:bold 12px/40px 'Noto Sans KR'; color:#333; 
                        }
                    }
                }
            }
            .transportation{
                h3{
                    font:12px/1 'arial';
                }
                h2{
                    font:bold 20px/1 'Noto Sans KR';
                }
                .bus{
                    p{
                        font:bold 16px/1 'arial';
                    }
                    ul{
                        li{
                            font: 10px/1.2 'arial';
                            &:nth-of-type(1){
                                width: 30%;
                            }
                            &:nth-of-type(2){
                                width: 70%;
                                padding:25px 0 0 25px;
                            }
                        }
                    }
                }
                .subway{
                    p{
                        font:bold 16px/1 'arial';
                    }
                    ul{
                        li{
                            font: 10px/1 'arial';
                            &:nth-of-type(1){
                                width: 30%;                                
                            }
                            &:nth-of-type(2){
                                width: 70%;
                            }
                        }
                    }
                }
            }
            .parking{
                h3{
                    font:12px/1 'arial';
                }
                h2{
                    font:bold 20px/1 'Noto Sans KR';
                }
                table{
                    thead{
                        tr{
                            font:bold 12px/1 'arial'; color: #333;
                            th{
                                width: calc(100% / 4);
                            }
                        }
                    }
                    tbody{
                        tr{
                            font:10px/1 'arial'; color: #888;
                            td{
                                width: calc(100% / 4);
                                padding: 25px 0; box-sizing: border-box;
                            }
                        }
                    }
                }
            }
        }
    }
}