@charset "utf-8";

.members{
    width: 100%;
    .sub_visual{
        background: url(../img/bg-sub-visual.gif)no-repeat center/cover;
    }
}

#members{
    width: 100%;
    .inner{
        width: 1180px;
        margin: 0 auto;
    }
}