@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap');
//font-family: 'Noto Sans KR', sans-serif;
/*
background:#F6F8FA;
border: 1px solid #CDD6E1;
*/

.news{
    width: 100%;
    .sub_visual{
        background: url(../img/news_bg.jpg)no-repeat center/cover;
    }

    >.inner{
        width: 1180px; margin: 0 auto; padding: 50px 0 150px 0;
        box-sizing: border-box;
        &::after{display: block; content: ""; clear: both;}
        
        #news_tab{
            width:100%; 
            border:1px solid #CDD6E1; 
            margin:100px auto; 
        
            ul{
                width: 100%;
                &::after{
                    content:''; display:block; clear:both; 
                }
                li{
                    width: 49.999%;
                    float:left; 
                    a{
                        display:block; 
                        width:100%; 
                        height:40px; 
                        background:#F6F8FA; 
                        font:bold 12px/40px 'arial'; 
                        color:#666; 
                        text-align:center;                 
                    }
                    &.on a{
                        background:#282b3a; 
                        color:#fff; 
                    }
                }
            }
        
            .group >div{
                width:100%; 
                height:300px; 
                background:#fff; 
                color:#444; 
                text-align:center; 
                display:none; 
                &.on{ display:block; }
                
                &:nth-of-type(1){
                    .left_box{
                        float: left; width: 30%; height: 100%;
                        padding:80px 30px 30px 80px; box-sizing: border-box;
                        text-align-last: left;
    
                        >h2{
                            font:bold 24px/1.1 'Noto Sans KR'; color: #005FAC;
                            margin-bottom: 5px;
                            position: relative;
                            
                            &::before{
                                content: ""; display: block;
                                height: 5px; width: 50px;
                                background: #005FAC;
                                position: absolute; top: -20px; left: 0;
                            }
                        }
                        >h3{
                            font:bold 30px/1.2 'Noto Sans KR'; color: #333;
                        }
                    }
                    .right_box{
                        float: right; width: 70%; height: 100%;
                        padding: 50px 0 20px;
                        text-align: left;
    
                        >h2{
                            font:bold 22px/1.1 'Noto Sans KR'; color: #333;
                            margin-bottom: 15px;
                        }
                        p{
                            font:normal 16px/1.3 'Noto Sans KR'; color: #777;
                        }
                    }
                }
                &:nth-of-type(2){
                    ul{
                        width: 100%; height: 100%;
                        padding: 20px 0; box-sizing: border-box;
                        &::after{clear: both; display: block; content: "";}

                        li{
                            float: left; width: 29.333%; height: 100%;
                            margin-right: 2%; margin-left: 2%;
                            background:#F6F8FA; 
                            border:1px solid #CDD6E1;
                            text-align: center;
                            padding:40px 25px; box-sizing: border-box;

                            .fa-anchor,
                            .fa-apple,
                            .fa-archive{
                                font-size: 50px;
                                color: #005FAC;
                                margin-bottom: 10px;
                            }

                            >h2{
                                font:bold 20px/1 'Noto Sans KR'; color: #333;
                                margin-bottom: 10px;
                            }
                            >p{
                                font: 16px/1.4 'Noto Sans KR'; color: #666;
                            }
                        }
                    }
                }
            }
        }

        fieldset{
            float: right; margin-bottom: 20px;
            select{
                width: 80px; padding: 10px 5px;
                background:#F6F8FA;
                border: 1px solid #CDD6E1;
            }
            input[type=text]{
                width: 250px; padding: 10px 5px;
                background:#F6F8FA;
                border: 1px solid #CDD6E1;
            }
            input[type=button]{
                width: 50px; padding: 10px 5px; 
                border-color: black; text-indent: -9999px;
                background:#282b3a url(../img/btn-search.png)no-repeat center;
            }
        }
        table{
            width: 100%;
            border-top: 2px solid #CDD6E1;
            margin-bottom: 30px;
            caption{
                position: absolute; top: -9999px; left: 0; opacity: 0;
            }
            thead{
                tr{
                    width: 100%;
                    background:#F6F8FA;
                    font:bold 18px/1 'Noto Sans KR'; color: #333;
                    th{
                        padding: 15px 10px
                    }
                    th:nth-of-type(1){width: 10%;}
                    th:nth-of-type(2){width: 55%;}
                    th:nth-of-type(3){width: 10%;}
                    th:nth-of-type(4){width: 15%;}
                    th:nth-of-type(5){width: 10%;}
                }
            }
            tbody{
                tr{
                    width: 100%;
                    text-align: center;
                    font:normal 12px/1 'Noto Sans KR'; color: #444;
                    & td:nth-of-type(2){text-align: left;}
                    & td:nth-of-type(3) a{
                        background: url(../img/ico-file.png)no-repeat center;
                        display: block;  
                        width: 18px; height: 21px;
                        margin: 0 auto;
                    }
                    &:hover{
                        background: rgba(205, 214, 225,0.4);
                    }
                    span{
                        display: inline-block;
                        background: #282b3a;
                        font-size: 11px;
                        color: #fff;
                        padding: 3px;
                        width: 35px;    
                        text-align: center;
                        vertical-align: bottom;
                        border-radius: 7px;
                    }
                    border-bottom: 1px solid #CDD6E1;
                    a{
                        font:bold 14px/1 'arial'; 
                        color: #444;
                    }
                    td{
                        padding: 15px 10px
                        
                    
                    }
                }
            }
        }
        .pagination{
            width: 100%; text-align: center;
            .numbers{
                display: inline-block;
                a{
                    display: inline-block; padding: 10px;
                    font: 14px/1 'arial'; color: #333;
                    &.on{
                        color: #444;
                        border-bottom: 2px solid #CDD6E1;
                    }
                    &:hover{
                        color: #CDD6E1;
                    }
                }
            }
            >.next{
                background: url(../img/btn-next-page.png)no-repeat center;
                width: 20px; height: 10px; display: inline-block;
                
            }
            >.last{
                background: url(../img/btn-last-page.png)no-repeat center;
                width: 20px; height: 10px; display: inline-block;
            }
        }
    }
}



@media screen and (max-width:1179px){
    .news{
        >.inner{
            width: 100%; padding: 0 20px 50px; 

            #news_tab{            
                .group >div{
                    height:300px; 
                    &:nth-of-type(1){
                        .left_box{
                            float: left; width: 100%; height: 100px;
                            padding:50px 30px 0;
                            text-align-last: center;
        
                            >h2{
                                font:bold 16px/1.1 'Noto Sans KR'; color: #005FAC;
                                & br{
                                    display: none;
                                }
                                &::before{
                                    content: ""; display: block;
                                    height: 3px; width: 30px;
                                    background: #005FAC;
                                    position: absolute; top: -10px; left: 50%;
                                    transform: translateX(-50%);
                                }
                            }
                            >h3{
                                font:bold 16px/1.2 'Noto Sans KR'; color: #333;
                                & br{
                                    display: none;
                                }
                            }
                        }
                        .right_box{
                            float: right; width: 100%; height: 200px;
                            padding:10px 20px 0;
                            text-align: left;
        
                            >h2{
                                font:bold 14px/1.2 'Noto Sans KR'; color: #333;
                                margin-bottom: 15px;
                            }
                            p{
                                display: block;
                                font:normal 12px/1.4 'Noto Sans KR'; color: #777;
                                
                            }
                        }
                    }
                    &:nth-of-type(2){
                        ul{
                            width: 100%; height: 100%;
                            padding: 20px 0; box-sizing: border-box;
                            &::after{clear: both; display: block; content: "";}
    
                            li{
                                float: left; width: 29.333%; height: 100%;
                                margin-right: 2%; margin-left: 2%;
                                background:#F6F8FA; 
                                border:1px solid #CDD6E1;
                                text-align: center;
                                padding:40px 25px; box-sizing: border-box;
    
                                .fa-anchor,
                                .fa-apple,
                                .fa-archive{
                                    font-size: 30px;
                                    color: #005FAC;
                                    margin-bottom: 10px;
                                }
    
                                >h2{
                                    font:bold 14px/1 'Noto Sans KR'; color: #333;
                                    margin-bottom: 10px;
                                }
                                >p{
                                    font: 12px/1.4 'Noto Sans KR'; color: #666;
                                }
                            }
                        }
                    }
                }
            }

            fieldset{
                float: right; margin-bottom: 20px;
                select{
                    width: 50px; padding: 5px 0px;
                }
                input[type=text]{
                    width: 150px; padding: 5px 0px;
                }
                input[type=button]{
                    width: 40px; padding: 5px 0px; 
                }
            }
            table{
                thead{
                    tr{
                        font:bold 16px/1 'arial'; color: #333;
                        th{
                            padding: 15px 10px
                        }
                        th:nth-of-type(1){width: 15%;}
                        th:nth-of-type(2){width: 55%;}
                        th:nth-of-type(3){width: 15%;}
                        th:nth-of-type(4){width: 15%;}
                        th:nth-of-type(5){display: none;}
                    }
                }
                tbody{
                    tr{
                        & td:nth-of-type(5){display: none;}
                        font:normal 14px/1 'arial'; color: #444;
                        & td:nth-of-type(2){text-align: left;}
                        span{
                            display: inline-block;
                            background: #282b3a;
                            font-size: 10px;
                            color: #fff;
                            padding: 3px;
                            width: 30px;    
                            text-align: center;
                            vertical-align: bottom;
                            border-radius: 15px;
                        }
                        border-bottom: 1px solid #CDD6E1;
                        a{
                            font:bold 14px/1.4 'arial'; 
                            color: #444;
                        }
                    }
                }
            }
            .pagination{
                .numbers{
                    a{
                        font: 14px/1 'arial';
                        &:nth-of-type(n+6):nth-of-type(-n+10){
                            display: none;
                        }
                    }
                }
            }
        }
    }
    
}


@media screen and (max-width:539px){
    .news{
        >.inner{
                padding: 0 0 50px; 

                #news_tab{            
                    .group >div{
                        height:400px; 
                        &:nth-of-type(1){
                            .left_box{
                                float: left; width: 100%; height: 100px;
                                padding:50px 30px 0;
                                text-align-last: center;
            
                                >h2{
                                    font:bold 16px/1.1 'Noto Sans KR'; color: #005FAC;
                                    & br{
                                        display: none;
                                    }
                                    &::before{
                                        content: ""; display: block;
                                        height: 3px; width: 30px;
                                        background: #005FAC;
                                        position: absolute; top: -10px; left: 50%;
                                        transform: translateX(-50%);
                                    }
                                }
                                >h3{
                                    font:bold 16px/1.2 'Noto Sans KR'; color: #333;
                                    & br{
                                        display: none;
                                    }
                                }
                            }
                            .right_box{
                                float: right; width: 100%; height: 300px;
                                padding:10px 20px 0;
                                text-align: left;
            
                                >h2{
                                    font:bold 14px/1.2 'Noto Sans KR'; color: #333;
                                    margin-bottom: 15px;
                                }
                                p{
                                    display: block;
                                    font:normal 12px/1.4 'Noto Sans KR'; color: #777;
                                    
                                }
                            }
                        }
                        &:nth-of-type(2){
                            ul{
                                width: 100%; height: 100%;
                                padding: 20px 20px; box-sizing: border-box;
                                &::after{clear: both; display: block; content: "";}
        
                                li{
                                    width: 100%; height: 30%;
                                    margin-right: 0; margin-left: 0;
                                    margin-bottom: 5%;
                                    padding:10px 10px; box-sizing: border-box;
                                    &:last-of-type{
                                        margin-bottom: 0;
                                    }
                                    .fa-anchor,
                                    .fa-apple,
                                    .fa-archive{
                                        font-size: 20px;
                                        color: #005FAC;
                                        margin-bottom: 5px;
                                    }
        
                                    >h2{
                                        font:bold 14px/1 'Noto Sans KR'; color: #333;
                                        margin-bottom: 5px;
                                    }
                                    >p{
                                        font: 12px/1.4 'Noto Sans KR'; color: #666;
                                    }
                                }
                            }
                        }
                    }
                }

                fieldset{
                    float: none; text-align: center;
                }
            table{
                thead{
                    tr{
                        font:bold 14px/1 'arial'; color: #333;
                        th{
                            padding: 15px 10px;
                        }
                        th:nth-of-type(1){display: none;;}
                        th:nth-of-type(2){width: 80%;}
                        th:nth-of-type(3){width: 20%;}
                        th:nth-of-type(4){display: none;}
                    }
                }
                tbody{
                    tr{
                        & td:nth-of-type(1),td:nth-of-type(4){display: none;}
                        a{
                            font:bold 14px/1.6 'arial'; 
                        }
                    }
                }
            }
        }
    }
    
}